In [2]:
import pandas as pd
apc = pd.read_csv("apc_output.csv")

In [3]:
route5= apc[apc.ROUTE_ABBR ==5]
route5

,Unnamed: 0,Unnamed: 0.1,ARRIVAL_DTM,DEPARTURE_DTM,ROUTE_ABBR,ROUTE_NAME,VECHILE_TAG,LATITUDE,LONGITUDE,BOARD,...,SERVICE_TYPE_TEXT,ROUTE_DIRECTION_NAME,RUN_NUM,TRIP_SEQUENCE,TRIP_SERIAL_NUMBER,BLOCK_ABBR,BLOCK_NUM,BLOCK_TRIP_SEQ,BLOCK_STOP_ORDER,stop_id
30,30,6639274,2018-04-07 05:11:00,2018-04-07 05:21:00,5,Piedmont Road / Sandy Springs,2528,33.921099,-84.344630,2,...,Saturday,Southbound,501,18900,4076983,5-1,NaN,1,3,903009
125,125,6639275,2018-04-07 05:30:00,2018-04-07 05:30:00,5,Piedmont Road / Sandy Springs,2528,33.922677,-84.379264,2,...,Saturday,Southbound,501,18900,4076983,5-1,NaN,1,14,902700
143,143,6639276,2018-04-07 05:31:00,2018-04-07 05:32:00,5,Piedmont Road / Sandy Springs,2528,33.920214,-84.379069,4,...,Saturday,Southbound,501,18900,4076983,5-1,NaN,1,15,906334
159,159,6664827,2018-04-07 05:33:00,2018-04-07 05:36:00,5,Piedmont Road / Sandy Springs,1570,33.921456,-84.344596,1,...,Saturday,Southbound,502,20100,4076984,5-2,NaN,1,2,903009
160,160,6639277,2018-04-07 05:33:00,2018-04-07 05:33:00,5,Piedmont Road / Sandy Springs,2528,33.918578,-84.379135,1,...,Saturday,Southbound,501,18900,4076983,5-1,NaN,1,16,902751
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54466,54466,6671431,2018-04-08 01:58:00,2018-04-08 01:58:00,5,Piedmont Road / Sandy Springs,2534,33.890297,-84.381224,1,...,Saturday,Northbound,513,92100,4077100,5-7,NaN,11,596,905988
54469,54469,6671432,2018-04-08 02:01:00,2018-04-08 02:01:00,5,Piedmont Road / Sandy Springs,2534,33.908411,-84.378656,0,...,Saturday,Northbound,513,92100,4077100,5-7,NaN,11,604,902699
54471,54471,6671433,2018-04-08 02:02:00,2018-04-08 02:02:00,5,Piedmont Road / Sandy Springs,2534,33.915310,-84.379207,0,...,Saturday,Northbound,513,92100,4077100,5-7,NaN,11,606,906293
54472,54472,6671434,2018-04-08 02:03:00,2018-04-08 02:04:00,5,Piedmont Road / Sandy Springs,2534,33.920026,-84.378921,0,...,Saturday,Northbound,513,92100,4077100,5-7,NaN,11,609,906309
54473,54473,6671435,2018-04-08 02:04:00,2018-04-08 02:04:00,5,Piedmont Road / Sandy Springs,2534,33.922783,-84.379093,0,...,Saturday,Northbound,513,92100,4077100,5-7,NaN,11,610,906294

In [6]:
gtfs_folder = "MARTA_gtfs_03_14_2018"
from os.path import join

In [16]:
stops = pd.read_csv(join(gtfs_folder, "stops.txt"))
stop_times = pd.read_csv(join(gtfs_folder, "stop_times.txt"))
trips = pd.read_csv(join(gtfs_folder, "trips.txt"))
routes = pd.read_csv(join(gtfs_folder, "routes.txt"))

In [22]:
route_id = routes[routes.route_short_name == "5"].route_id.values[0]
route_id

7638

In [31]:
# trip_ids for a given route
trip_ids = trips[(trips.route_id == route_id) & (trips.service_id == 3)].trip_id.values

In [37]:
stop_times[stop_times.trip_id.isin(trip_ids)].sort_values("departure_time")

        trip_id arrival_time departure_time  stop_id  stop_sequence
143808  6032241     05:15:00       05:15:00   903009              1
143809  6032241     05:17:31       05:17:31   902999              2
143810  6032241     05:18:00       05:18:00   902704              3
143811  6032241     05:19:05       05:19:05   903033              4
143812  6032241     05:20:00       05:20:00   902868              5
...         ...          ...            ...      ...            ...
621291  6056855     26:11:56       26:11:56   902816             53
621292  6056855     26:13:05       26:13:05   902888             54
621293  6056855     26:13:30       26:13:30   211926             55
621294  6056855     26:14:18       26:14:18   903000             56
621295  6056855     26:15:00       26:15:00   903009             57

[6667 rows x 5 columns]